/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
    display: block;
}

ol, ul
{
    list-style: none;
}

blockquote, q
{
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

a:focus
{
    outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body
{
    box-sizing: border-box;
    color: #373737;
    font-size: 20px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
    margin-bottom: 10px;
    color: #222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1
{
    font-size: 36px;
    font-weight: 700;
}

h2
{
    padding-bottom: 10px;
    font-size: 32px;
}

h3
{
    font-size: 30px;
}

h4
{
    font-size: 21px;
}

h5
{
    font-size: 20px;
    font-weight: bold;
}

h6
{
    font-size: 22px;
    font-weight: bold;
}

p
{
    margin: 10px 0 15px 0;
    font-size: 20px;
}

a
{
    text-decoration: none;
    color: #007edf;
    text-shadow: none;
    cursor: pointer;

    transition: color 0.5s ease;
    transition: text-shadow 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -webkit-transition: text-shadow 0.5s ease;
    -moz-transition: color 0.5s ease;
    -moz-transition: text-shadow 0.5s ease;
    -o-transition: color 0.5s ease;
    -o-transition: text-shadow 0.5s ease;
    -ms-transition: color 0.5s ease;
    -ms-transition: text-shadow 0.5s ease;
}

#menu-wrapper
{
    background-color: rgb(100, 100, 100);
    color: rgb(245, 250, 242);
}

#menu a
{
    color: rgb(255, 255, 255);
}

#menu .active
{
    color: dodgerblue !important;
}

#main_content
{
    padding-top: 0;
    margin-top: 0;
}

#main_content a:hover
{
    text-shadow: #0090ff 0px 0px 2px;
}

em
{
    font-style: italic;
}

strong
{
    font-weight: bold;
}

img
{
    position: relative;
    margin: 0 auto;
    max-width: 739px;
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #ebebeb;

}

pre, code
{
    color: greenyellow;
    background-color: #222;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 18px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    margin-bottom: 20px;
    line-height: 32px;
}

pre
{
    padding: 10px;
    overflow: auto;
}

code
{
    padding: 3px;
    margin: 0 3px;
    border: 1px solid #ccc;
}

pre code
{
    display: block;
    box-shadow: none;
}

p span
{
    font-weight: bold;
}

p.reference
{
    margin: 0;
    padding: 0;
}

p.value
{
    margin-bottom: 10px;
}

blockquote
{
    color: #666;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    border-left: 3px solid #bbb;
}

ul, ol, dl
{
    margin-bottom: 15px
}

ul li
{
    padding-left: 20px;
}

ol li
{
    padding-left: 20px;
}

ol.tutorial li p,
ol.tutorial li pre
{
    font-weight: normal;
}

section
{
    overflow: hidden;
}

section.inner
{
    margin-top: 30px;
    padding-top: 20px;
}

section#tutorial ol,
section#installation ol
{
    list-style: decimal;
    padding-left: 25px;
}

section#title
{
    background: #eee;
    padding-left: 100px;
}

.right
{
    float: right;
    padding-left: 50px;
}

section#features
{
    padding-bottom: 20px;
}

section#features .features
{
    margin-bottom: 40px;
    overflow: hidden;
}

section#features img
{
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 550px;
    width: 100%;
    margin-top: 0;
}

section#technologies
{
    background: #eee;
}

section#technologies .right
{
    width: 550px;
}

section#technologies img
{
    margin: 0;
    margin-left: 40px;
    width: auto;
    float: left;
}

section#technologies img#node
{
    margin: 0;
}

section#technologies img#backbone
{
    width: 75px;
    margin-top: 10px;
}

section#technologies img#solr
{
    width: 200px;
    margin-top: -10px;
}

section#technologies p
{
    padding-top: 10px;
}

section#clone
{
    background: #ccc;
}

section#clone .right
{
    height: 100%;
}

section#clone pre
{
    width: 550px;
    margin: 10px auto;
}

section#ime
{
    background: #efeff0;
}

dl dt
{
    font-weight: bold;
}

dl dd
{
    padding-left: 20px;
    font-style: italic;
}

dl p
{
    padding-left: 20px;
    font-style: italic;
}

hr
{
    height: 1px;
    margin-bottom: 5px;
    border: none;
}

table
{
    border: none;
    margin-bottom: 20px;
    text-align: left;
}

th
{
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px;
    color: white;
    text-align: center;
    background: #333;
}

th#technologies
{
    min-width: 110px;
}

td
{
    border: 1px solid #ccc;
    padding: 10px;
}

form
{
    background: #f2f2f2;
    padding: 20px;
}

em
{
    font-style: normal;
    color: #EEE;
    font-weight: bold;
}

a.biglink
{
    display: block;
    margin-bottom: 10px;
}

.deeper
{
    margin-left: 35px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer
{
    min-width: 320px;
    position: relative;
    padding-top: 20px;
    margin: 0 auto;
    clear: both;
    padding-bottom: 20px;
}

.outer:first-child
{
    padding-top: 0;
}

.inner
{
    position: relative;
    max-width: 1110px;
    padding: 10px 20px;
    margin: 0 auto;
    clear: both;
}

span#logo
{
    position: absolute;
    float: right;
    background: url('images/hypercube_logo_75.png') no-repeat 0 0;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}

#banner_wrapper
{
    padding: 0;
}

#demo_banner
{
    padding: 5px 20px;
    color: #fff;
    background: dodgerblue;
    font-weight: bold;
    position: absolute;
    right: 24px;
    top: 0;
}

#header
{
    color: black;
    padding: 0;
    padding-top: 160px;
    margin-top: 50px;
    text-align: center;
    background: url('images/cube-transparent.png') no-repeat center 0;
    max-width: 620px;
}

#header img
{
    width: 200px;
    padding: 0 margin : 0;
}

#header h1
{
    font-size: 100px;
    font-family: inherit;
    line-height: 100px;
}

#header h6
{
    color: #222;
    font-size: 28px;
    font-weight: normal;
}

#example
{
    padding: 30px;
    padding-top: 0;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#example.fullscreen
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.mwidth
{
    max-width: 1200px;
}

#features_title
{
    display: none;
}

#example #fullscreen
{
    float: right;
    background: url('images/fullscreen.gif') no-repeat center center;
    background-color: rgba(30, 144, 255, 0.6);
    height: 32px;
    width: 32px;
    position: relative;
    z-index: 2;
    top: -50px;
    right: 5px;
    cursor: pointer;
}

#example.fullscreen #fullscreen
{
    background: url('fullscreen-exit.gif') no-repeat center center;
    background-color: rgba(30, 144, 255, 0.6);
}

#example iframe
{
    background: white;
    position: relative;
    border: 3px solid dodgerblue;
    margin-top: 38px;
}

.info
{
    display: none;
    margin-left: 20px;
}

pre.code
{
    background: whitesmoke;
    color: black;
    padding: 40px;
    position: relative;
    border: 1px solid #ccc;
}

pre.code span.filename
{
    position: absolute;
    color: #999;
    top: 0;
    right: 20px;
}

pre span
{
    color: dodgerblue;
}

span.value
{
    color: #666;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

.column
{
    float: left;
    width: 172px;
    margin: 0 10px;
    padding: 0 10px;
    text-align: center;
}

.column:last-child
{
    border: 0;
}

.column p
{
    text-align: left;
}

#columns
{
    margin-top: 90px;
    overflow: hidden;
}

#columns h5
{
    margin: 0 auto;
}

#addbtn
{
    width: 50px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.cubebtn
{
    padding: 10px;
    background: url('images/addbtn.png') dodgerblue no-repeat 5px center;
    color: white;
    font-weight: bold;
    margin: 0 5px;
    padding-left: 25px;
}

section#slideshow ul li
{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    display: inline-block;
}

.slideshow_btn
{
    width: 56px;
    height: 56px;
    float: left;
    margin-top: 202px;
    cursor: pointer;
}

#slideshow_left
{
    background: url('images/slideshow_arrow_left.png') no-repeat 0 0;
}

#slideshow_right:hover,
#slideshow_left:hover
{
    background-position: -56px 0;
}

#slideshow_right
{
    background: url('images/slideshow_arrow_right.png') no-repeat 0 0;
}

#slideshow_mask
{
    overflow: hidden;
    float: left;
    height: 446px;
    width: 812px;
    margin: 0 30px;
}

#slideshow_wrap
{
    width: 988px;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
}

#slideshow_shadow
{
    float: left;
    clear: both;
    width: 800px;
    height: 21px;
    margin-left: 88px;
    background: url('images/slider_shadow.png') no-repeat center center;
    display: none;
}

#slides
{
    margin-left: -812px;
}

#slides img
{
    margin: 0;
    padding: 0;
    border: 0;
}

#indicators
{
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    position: relative;
    top: -10px;
    display: none;
}

#indicators li
{
    cursor: pointer;
}

.pic_ind
{
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url('images/slideshow_radiobuttons.png') no-repeat 0 0;
}

.active_ind
{
    background-position: -30px 0;
}

img
{
    border: none;
    margin: 0;
    padding: 0;
}

section#ime ul
{
    list-style: none;
    overflow: hidden;
    text-align: center;
}

section#ime ul li
{
    display: inline-block;
    width: 290px;
    text-align: center;
}

a#fork
{
    position: absolute;
    top: 30px;
    right: 0;
    background: url('images/fork.png') no-repeat center center;
    width: 148px;
    height: 148px;
    z-index: 1;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{

    body, p
    {
        font-size: 18px;
    }

    a#fork
    {
        display: none;
    }

    #example
    {
        text-align: center;
    }

    iframe, #fullscreen
    {
        display: none;
    }

    #demo_banner
    {
        position: static;
        right: auto;
        top: auto;
    }

    #features_title
    {
        display: block;
    }

    .features .right
    {
        float: none;
        padding-left: 0;
        margin-top: 20px;
    }

    .features .right img
    {
        max-width: 380px
    }

    section
    {
        padding: 0 10px;
    }

    section#ime h3
    {
        font-weight: bold;
    }

    section#ime .inner
    {
        padding: 0;
    }

    section#ime ul li
    {
        padding: 0;
        margin: 0;
        width: auto;
    }

    section#features .left h3
    {
        font-weight: bold;
        position: absolute;
        top: 0;
    }

    section#technologies .right
    {
        width: auto;
        padding-left: 0;
    }

    h1
    {
        font-size: 28px;
    }

    h2
    {
        font-size: 26px;
    }

    h3
    {
        font-size: 21px;
    }

    h4
    {
        font-size: 21px;
    }

    h5
    {
        font-size: 16px;
    }

    h6
    {
        font-size: 18px;
    }

    section#clone pre
    {
        display: none;
    }

    code, pre
    {
        overflow: hidden;
        overflow-x: auto;
        font-size: 14px;
    }

    .optional
    {
        display: none;
    }

}
