#pictureContainer
    position    static !important
    float       left !important
    clear       both !important
    margin-top  50px !important
    margin-left 25px !important
    height      auto !important
    width       auto !important
    background  none !important
    border      none !important
    img#picture
        position    static
        top         initial
        max-width   300px !important

#data
    position    static !important
    float       left !important
    width       100% !important
    top         initial !important
    bottom      initial !important
    padding-top 20px !important
    margin-left 25px !important

table td.population,
table td.areaInSqKm
    text-align  right
    padding-right   10px !important
