!!! 5
html
    head
        title Cube authenticating...
    body

    script.

        var qs = '';

        if (window.location.pathname || window.location.hash) {
        qs = '?continue=' + window.location.href;
        }

        window.location = '/login' + qs;