!!! 5
html
  head
    title Cube
    != css('index')
  body
    #header.outer
      header.inner
        #mainTitle
          h1#title
            a(href="http://zalando.github.com/cube", target="_blank") Cube
          span#subtitle Zalando's management tool
    section#content
      #expanded
        #form
          label Please provide your credentials
          form(action="/login", method="post")#login
              input(type="text", name="username", placeholder="Your username (e.g. 'jdoe')", required, autofocus)#uname
              input(type="password", name="password", placeholder="Your password", required)#pword
              a(href='http://techblog.zalando.net/2013/06/zalando-platform-account/')#help Need a platform account?
              a#submit.btn Log In
              input(type="text", name="redirect")#redirect.hidden

script(src="/js/jquery.min.js")

script(type="text/javascript)

  var flash = !{JSON.stringify(flash)};

  $(function() {

    var target = '';

    var redirect = window.location.search + window.location.hash;
    redirect = redirect.split('?continue=')[1];

    if (flash.target && flash.target.length) {
        var target = flash.target[0];
    }

    $('input#redirect').val(redirect);

    $('#submit').click(function() {
      $('form').submit();
    });

    $('input#pword').keypress(function(e) {
      if (e.which === 13) {
        e.preventDefault();
        $('form').submit();
      }
    });

    if (flash['error'] && flash.error[0] === 'Invalid username/password') {
      $('input').css('border-color', 'red');
    }

  });
